header{
  background-color: #d2d0d0;
}
.col-lg-6{
  display: inline-block;
  padding: 10px;
}
.right-nav{
  ol{
    float: right;
    margin: 0px;
    padding: 0px;
  }
  h1{
    padding: 0px;
    margin: 0px;
  }
}

button{
  margin-right: 10px;
}
